/.gitattributes export-ignore
/AGENTS.md export-ignore
/.github export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/pint.json export-ignore
/.phpunit.cache export-ignore
/.phpstan.cache export-ignore
/phpstan.neon.dist export-ignore
/phpstan export-ignore
/node_modules export-ignore
/phpunit.xml.dist export-ignore
/resources/css export-ignore
/resources/js export-ignore
/scripts export-ignore
/tests export-ignore
/vite.config.js export-ignore
/vendor export-ignore
